@charset "utf-8";


a:link {
    color: ;
}

a:visited {
    color: ;
}

a:active {
    color: ;
}

a {
    font-size: 16px;
    text-decoration: none;
}

a:hover {
    color: #f4a460;
    text-decoration: none;
}



#your_container {
    /* 高さや幅など、好きな様に設定
    bms_messages_containerの方で、縦横いっぱいに広がってくれるので、
    ここで充てた高さと横幅がそのままスタイルになる仕組み */

    height: 600px;
    /*ここはご自由に*/
    width: 50%;
    /*ここはご自由に*/
}

/* チャットの外側部分① */
#bms_messages_container {
    height: 100%;
    /*your_containerに対して100%になる */
    width: 100%;
    /*your_containerに対して100%になる */
    background-color: #eee;
}

/* ヘッダー部分② */
#bms_chat_header {
    padding: 6px;
    /*隙間調整*/
    font-size: 16px;
    height: 34px;
    background: #ddd;
    border: 1px solid #ccc;
}

/* ステータスマークとユーザー名 */
#bms_chat_user_status {
    float: left;
    /* bms_chat_headerに対して左寄せ */
}

/* ステータスマーク */
#bms_status_icon {
    float: left;
    /* bms_chat_user_statusに対して左寄せ */
    line-height: 2em;
    /*高さ調整*/
}

/* ユーザー名 */
#bms_chat_user_name {
    float: left;
    /* bms_chat_user_statusに対して左寄せ */
    line-height: 2em;
    /*高さ調整*/
    padding-left: 8px;
}

.square_btn {
    border-radius: 15px 15px 15px 15px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

.square_btn:hover {
    background: #00bcd4;
    color: white;
}

.fa-caret-right:before {
    content: "\f0da";
}

.low {
    color: goldenrod;
}


/* タイムライン部分③ */
#bms_messages {
    overflow: auto;
    /* スクロールを効かせつつ、メッセージがタイムラインの外に出ないようにする */
    height: 100%;
    /*テキストエリアが下に張り付く様にする*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #eee;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2) inset;
    /*ヘッダーの下に影を入れる*/
}

/* メッセージ全般のスタイル */
.bms_message {
    margin: 0px;
    padding: 0 14px;
    /*吹き出しがタイムラインの側面にひっつかない様に隙間を開ける*/
    font-size: 16px;
    word-wrap: break-word;
    /* 吹き出し内で自動で改行 */
    white-space: normal;
    /*指定widthに合わせて、文字を自動的に改行*/
}

/* メッセージ１（左側） */
.bms_left {
    float: left;
    /*吹き出しをbms_messagesに対して左寄せ*/
    line-height: 1.3em;
}

/* メッセージ２（右側） */
.bms_right {
    float: right;
    /*吹き出しをbms_messagesに対して右寄せ*/
    line-height: 1.3em;
}

/* 回り込みを解除 */
.bms_clear {
    clear: both;
    /* 左メッセージと右メッセージの回り込み(float)の効果の干渉を防ぐために必要（これが無いと、自分より下のメッセージにfloatが影響する） */

}

.kasu {
    font-size: 4px;
}

/* テキストエリア、送信ボタン④ */
#bms_send {
    background-color: #eee;
    /*タイムラインの色と同じにする*/
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 48px;
    padding: 4px;
}

#bms_send_message {
    width: calc(100% - 150px);
    /*常に送信ボタンの横幅を引いたサイズに動的に計算*/
    line-height: 16px;
    height: 48px;
    padding: 3px 6px 0px 6px;
    /*文字がテキストエリアの中心になる様に隙間調整*/
    border: 1px solid #ccc;
    border-radius: 4px;
    /*角丸*/
    text-align: left;
    /*文字を左寄せ*/
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2) inset;
    /*内側に影を入れてテキストエリアらしくした*/
    box-sizing: border-box;
    /*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/

}

#bms_send_btn {
    width:100px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    /*bms_sendに対して右寄せ*/
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    /*文字をボタン中央に表示*/
    border: 1px solid #bbb;
    border-radius: 4px;
    /*角丸*/
    box-sizing: border-box;
    /*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}

#bms_send_btn2 {
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    /*bms_sendに対して右寄せ*/
    margin-top: -48px;
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    /*文字をボタン中央に表示*/
    border: 1px solid #bbb;
    border-radius: 4px;
    /*角丸*/
    box-sizing: border-box;
    /*paddingとborderの要素の高さと幅の影響をなくす（要素に高さと幅を含める）*/
}

#bms_send_btn:hover,
#bms_send_btn2:hover {
    background: #13178E;
    /*マウスポインタを当てた時にアクティブな色になる*/
    cursor: pointer;
    /*マウスポインタを当てた時に、カーソルが指の形になる*/
}

/*
        *追加
        */
.bms_message_box {
    margin-top: 20px;
    /*上下の吹き出しがひっつかない様に隙間を入れる*/
    max-width: 100%;
    /*文字が長くなった時に吹き出しがタイムラインからはみ出さない様にする*/
    font-size: 16px;
}

/*
*追加
*/
.bms_message_content {
    padding: 20px;
    /*文字や画像（コンテンツ）の外側に隙間を入れる*/
}

/* メッセージ１（左側） */
.bms_left {
    float: left;
    /*吹き出しをbms_messagesに対して左寄せ*/
    line-height: 1.3em;
}

/*
*追加
*/
.bms_left .bms_message_box {
    color: #333;
    /*テキストを黒にする*/
    background: #fff;
    border: 2px solid #13178E;
    border-radius: 30px 30px 30px 0px;
    /*左下だけ尖らせて吹き出し感を出す*/
    margin-right: 50px;
    /*左側の発言だとわかる様に、吹き出し右側に隙間を入れる*/
}

/* メッセージ２（右側） */
.bms_right {
    float: right;
    /*吹き出しをbms_messagesに対して右寄せ*/
    line-height: 1.3em;
}

*追加 .bms_right .bms_message_box {
    color: #fff;
    /*テキストを白にする
    background: #13178E;
    border: 2px solid #13178E;
    border-radius: 30px 30px 0px 30px;/*右下だけ尖らせて吹き出し感を出す
    margin-left: 50px;/*右側の発言だとわかる様に、吹き出し左側に隙間を入れる*/
}


.my-line,
.other-line {
    clear: both;
    position: relative;
    display: inline-block;
    max-width: 80%;
    max-width: -webkit-calc(100% - 60px);
    max-width: calc(100% - 60px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 5px 10px;
    border-radius: 15px;
    background-size: cover;
    z-index: 1;
}

.my-line {
    background-color: #85ff49;
    float: right;
    margin: 5px 5px 5px 60px;
}

.other-line {
    background-color: White;
    float: left;
    margin: 25px 15px 5px 50px;
}

.entry-content .my-line.stamp {
    background-color: transparent;
}

.entry-content .other-line.stamp {
    background-color: transparent;
}

.entry-content .my-line.stamp img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.entry-content .other-line.stamp img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.other-line::before {
    position: absolute;
    white-space: nowrap;
    top: -22px;
    display: block;
    color: white;
    left: 0px;
}

.other-line::after {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: -17px;
    border-radius: 40px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    left: -55px;
}

.my-toge::before,
.other-toge::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 10px;
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid transparent;
}

.my-toge::before {
    border-left: 10px solid #85ff49;
    right: -14px;
}

.other-toge::before {
    border-right: 10px solid White;
    left: -14px;
}











.menu {
    border: 1px solid;
    border-image: linear-gradient(to top, transparent, #f9f9f9 20%, #f9f9f9 80%, transparent) 0 0 0 1;
    margin-left: 100px;
    display: inline-block;
}

.menu-list {
    list-style-type: none;
    margin: 0 5px;
    padding: 0;
    position: relative;
}

.menu-list:before {
    position: absolute;
    content: '';
    border-right: 25px solid #f9f9f9;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -30px;
    top: calc(50% - 10px);
}

.menu-list:after {
    position: absolute;
    content: '';
    border: 3px solid #333;
    border-radius: 50%;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-list-item {
    background-color: #f9f9f9;
    color: #494748;
    width: 150px;
    padding: 15px 25px;
    margin-bottom: 5px;
}

.menu-list-item:last-child {
    margin-bottom: 0;
}

.menu-list-item:hover {
    cursor: pointer;
    background-color: #eda60c;
    color: #f9f9f9;
}



.line__container {
    padding: 0;
    background: #7494c0;
    overflow: hidden;
    max-width: 400px;
    margin: 20px auto;
    font-size: 80%;
}

/* タイトル部分 */
.line__container .line__title {
    background: #273246;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;
}

/* 会話部分 */
.line__container .line__contents {
    padding: 10px;
    overflow: hidden;
    line-height: 135%;
}

.line__container .scroll {
    height: 900px;
    overflow-y: scroll;
}

/* スタンプ画像最大幅 */
.line__container .stamp img {
    max-width: 150px;
}

/* 相手の会話 */
.line__container .line__left {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 35px;
    max-width: 80%;
    clear: both;
}

/* アイコン画像 */
.line__container .line__left figure {
    width: 80px;
    position: absolute;
    top: -5px;
    left: 0;
    padding: 0;
    margin: 0;

}

/* 正方形を用意 */
.line__container .line__left figure img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.line__container .line__left .line__left-text {

    margin-left: 100px;
}

.line__container .line__left .line__left-text .name {
    font-size: 80%;
    color: #ffffff;
}

/* コメントエリア */
.line__container .line__left .text {
    margin: 0;
    position: relative;
    padding: 10px;
    border-radius: 20px;
    background-color: #ffffff;
}

/* 吹き出し */
.line__container .line__left .text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: -10px;
    top: 10px;
    border-right: 20px solid #ffffff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* 自分の会話 */
.line__container .line__right {
    position: relative;
    display: block;
    margin: 5px 0;
    max-width: 75%;
    float: right;
    margin-right: 15px;
    clear: both;
}

/* コメントエリア */
.line__container .line__right .text {
    padding: 10px;
    border-radius: 20px;
    background-color: #8de055;
    margin: 0;
    margin-left: 80px;
}

/* 吹き出し */
.line__container .line__right .text::after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: -10px;
    top: 10px;
    border-left: 20px solid #8de055;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* 自分がスタンプを送る時 */
.line__container .line__right .stamp {
    position: relative;
    margin-left: 80px;
}

/* 既読エリア */
.line__container .line__right .date {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    text-align: right;
    left: -30px;
    bottom: 0px;
    font-size: 80%;
    color: #ffffff;
}



/*/////////////////////////////////////////////////
//twitter風チャット画面(会話方式)を記事に表示する方法
/////////////////////////////////////////////////*/
@media screen and (min-width: 900px) {
    .twitter__container {
        padding: 0;
        background: #ffffff;
        overflow: hidden;
        width: 980px;
        margin: 20px;
        font-size: 16px;
        border: solid 1px #eeeeee;
    }
}

@media screen and (max-width: 680px) {
    .twitter__container {
        padding: 0;
        background: #ffffff;
        overflow: hidden;
        max-width: 600px;
        margin: 20px auto;
        font-size: 80%;
        border: solid 1px #eeeeee;
    }
}

.twitter__container a {
    color: #58aeed;
}

/* タイトル部分 */
.twitter__container .twitter__title {
    background: #58aeed;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #ffffff;
}

.twitter__container .twitter__title .twitter-logo {
    margin: 0 auto;
    width: 20px;
    height: 20px;
    display: block;
    background: url(../svg/twitter-logo.svg) center no-repeat;
}

.twitter__container .twitter__title span {
    font-size: 20px;
}

/* タイムライン部分 */
.twitter__container .twitter__contents {
    overflow: hidden;
    position: relative;
    line-height: 135%;
}

.twitter__container .twitter__contents.scroll {
    height: 1000px;
    overflow-y: scroll;
}

.twitter__container .twitter__block {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: solid 1px #eeeeee;
    overflow: hidden;
}

.twitter__container .twitter__block:last-child {
    border-bottom: solid 0px;
}

/* アイコン画像 */
.twitter__container .twitter__block figure {
    width: 50px;
    padding: 0;
    margin: 0;
    float: left;
    width: 50px;
}

/* 正方形を用意 */
.twitter__container .twitter__block figure img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* コメントエリア */
.twitter__container .twitter__block-text {
    margin: 0;
    position: relative;
    margin-left: 60px;
    padding-right: 10px;
}

.twitter__container .twitter__block-text .name {
    font-weight: bold;
}

.twitter__container .twitter__block-text .name .name_reply {
    color: #8a9aa4;
    margin-left: 10px;
}

.twitter__container .twitter__block-text .date {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: right;
    color: #8a9aa4;
}

/* 本文 */
.twitter__container .twitter__block-text .text {
    margin: 5px 0;
}

/* 画像を貼る場合 */
.twitter__container .twitter__block-text .text .in-pict img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 5px 0;
    width: 95%;
    height: 200px;
    object-fit: cover;
}

/*///////////////////////////////////////////
//埋め込みアイコン
////////////////////////////////////////////*/

.twitter__container .twitter__icon br {
    display: none;
}

.twitter__container .twitter__icon .twitter-bubble {
    width: 14px;
    height: 14px;
    display: block;
    padding-left: 20px;
    background: url("../svg/twitter-bubble.svg") left no-repeat;
    width: 20%;
    float: left;
    color: #8a9aa4;
}

.twitter-heart {
    width: 28px;
    height: 28px;
    display: block;
    padding-left: 20px;
    background: url("../svg/twitter-heart.svg") left no-repeat;
    width: 20%;
    float: left;
    color: #8a9aa4;

}

.twitter-heartON {
    width: 28px;
    height: 28px;
    display: block;
    padding-left: 20px;
    background: url("../svg/twitter-heartON.svg") left no-repeat;
    width: 20%;
    float: left;
    color: #8a9aa4;

}

.twitter__container .twitter__icon .twitter-loop {
    width: 14px;
    height: 14px;
    display: block;
    padding-left: 20px;
    background: url("../svg/twitter-loop.svg") left no-repeat;
    width: 20%;
    float: left;
    color: #8a9aa4;
}
